* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all .5s ease;
}

html,
body {
    background-color: #f1f1f1;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

input, button {
    display: flex;
    align-items: center;
    height: 30px;
    padding: 10px;
    font-size: 1rem;
}

button {
    appearance: none;
    border: none;
    background-color: coral;
    color: white;
    cursor: pointer;
    justify-content: center;
    padding: 20px;

    &:hover {
        filter: brightness(1.2);
    }

    &:active {
        filter: brightness(1);
        transition: filter .2s ease;
    }
}

h1 {
    margin-left: 10rem;
}

@media (max-width: 575.98px) {
    h1 {
        margin-left: 0;
    }
}

.column {
    display: flex;
    align-items: center;
    margin: 0 auto;
    gap: 3%;
    width: 540px;
}


@media (max-width: 575.98px) {
    .column {
        flex-direction: column;
        width: 120vw;
    }
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
    height: 40%;
    margin: 0 auto;
}

.go {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background: rgba(255, 0, 0, 0.39);
    border-radius: 50%;
    border: solid 3px rgba(255, 0, 0, 0.788);
    margin-top: 5rem;

    &:hover {
        filter: grayscale(0);
        transform: scale(1.02);
        background: greenyellow;
        border: solid 3px rgba(0, 128, 0, 0.301);
    }

    & h2 {
        color: #2e2e2eb2;
        text-transform: uppercase;
    }

    &:hover h2 {
        color: #2e2e2e;
    }

    &:active {
        transform: scale(.9);
    }
}


@media (max-width: 575.98px) {
    
}